.title1{
    color: brown;
}
.title2{
    background-color: bisque;
}
.title3{
    border-left: 3px solid violet;
}
.paragraf1{
    color: rgb(8, 167, 8);
}
.paragraf2{
    border-bottom: 2px solid brown;
}
.paragraf3{
    border: 2px dashed black;
}
.paragraf4{
    background-color: blue;
}
.paragraf5{
    font-size: 30px;
}
botton{
    border: 1px solid darkgreen;
    background-color: green;
    border-radius: 5px;
    padding:5px 15px;
    font-size: 10px;
    color: aliceblue;
}